import logging
logging = {
	'disabled': False,
	'level': logging.WARNING
}
reddit = {
	'subreddits': ['firstsubreddit','secondsubreddit'],
	'username': 'bot_username_here',
	'password': 'bot_password_here'
}
google = {
	'youtube': {
		'playlist_id': '[Playlist ID that bot will add videos to]'
	}
}